<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="ChatContext"
         connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Temp\ChatRoom.MDF;integrated security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>