@{
    ViewData["Title"] = "Home Page";
}
<div id="div_login">
    <input id="input_username" type="text" />
    <input id="input_password" type="text" />
    <input type="button" value="Login" />
</div>

<div id="div_current_chat">

</div>
<div id="left_box">
    <div id="div_themen_ranking">
        <ul id="list_themen_ranking">
            <li>HTL</li>
            <li>SYP</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
    </div>
</div>
<div id="right_box">
    <div id="div_online_user">
        <ul id="list_online_user">
            <li>fopa</li>
            <li>asdf</li>
            <li>asdf2</li>
            <li>fopa</li>
            <li>asdf</li>
            <li>asdf2</li>
            <li>fopa</li>
            <li>asdf</li>
            <li>asdf2</li>
            <li>fopa</li>
        </ul>
    </div>
</div>
    <div id="div_chat">
        <div id="div_chatroom"></div>
            <div id="div_write_chat">
                <input type="text" id="chat_input"  />
                <input type="button" id="btn_submit" value="Submit" style="max-width:6.250em" />
            </div>
        
    </div>
